In [10]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [11]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,East London,ZA,2022-02-02 01:09:21,-33.0153,27.9116,76.57,74,100,5.35
1,1,Taltal,CL,2022-02-02 01:09:22,-25.4000,-70.4833,66.34,78,0,3.24
2,2,Dakar,SN,2022-02-02 01:09:22,14.6937,-17.4441,74.28,53,100,13.65
3,3,Punta Arenas,CL,2022-02-02 01:09:22,-53.1500,-70.9167,48.11,66,40,21.85
4,4,Avarua,CK,2022-02-02 01:09:23,-21.2078,-159.7750,82.45,78,20,12.66

In [12]:
#get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [13]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [14]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Assign the figure variable.
fig = gmaps.figure()
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))