## Deliverable 2. Create a Customer Travel Destinations Map.

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [26]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jamestown,US,42.0970,-79.2353,20.52,51,100,3.44,mist
1,1,Shelburne,CA,44.0787,-80.2041,5.67,88,100,7.52,overcast clouds
2,2,Bengkulu,ID,-3.8004,102.2655,76.21,86,100,3.76,overcast clouds
3,3,Saint George,US,37.1041,-113.5841,44.94,29,0,4.00,clear sky
4,4,Ambon,ID,-3.6954,128.1814,89.74,58,20,8.05,few clouds

In [27]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [28]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Bengkulu,ID,-3.8004,102.2655,76.21,86,100,3.76,overcast clouds
6,6,Soyo,AO,-6.1349,12.3689,76.69,83,73,2.08,broken clouds
7,7,Cayenne,GF,4.9333,-52.3333,79.09,88,100,7.00,overcast clouds
12,12,Sibu,MY,2.3000,111.8167,83.75,71,100,4.00,overcast clouds
21,21,Saint-Philippe,RE,-21.3585,55.7679,80.19,89,100,25.17,moderate rain
30,30,Bubaque,GW,11.2833,-15.8333,77.70,65,0,8.03,clear sky
44,44,Rikitea,PF,-23.1203,-134.9692,79.07,68,4,8.14,clear sky
45,45,Dingle,PH,10.9995,122.6711,80.78,73,89,18.68,overcast clouds
48,48,Belmonte,BR,-15.8631,-38.8828,79.30,88,100,8.28,overcast clouds
50,50,Butaritari,KI,3.0707,172.7902,82.63,77,36,17.76,scattered clouds

In [29]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [30]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Bengkulu,ID,-3.8004,102.2655,76.21,86,100,3.76,overcast clouds
6,6,Soyo,AO,-6.1349,12.3689,76.69,83,73,2.08,broken clouds
7,7,Cayenne,GF,4.9333,-52.3333,79.09,88,100,7.00,overcast clouds
12,12,Sibu,MY,2.3000,111.8167,83.75,71,100,4.00,overcast clouds
21,21,Saint-Philippe,RE,-21.3585,55.7679,80.19,89,100,25.17,moderate rain
...,...,...,...,...,...,...,...,...,...,...
656,656,Mareeba,AU,-17.0000,145.4333,83.66,84,99,3.40,overcast clouds
659,659,Wattegama,LK,6.7989,81.4808,77.29,70,77,2.75,broken clouds
663,663,Malindi,KE,-3.2175,40.1191,75.42,89,54,2.66,broken clouds
664,664,Tagusao,PH,9.1924,117.8141,81.66,74,97,8.66,overcast clouds
665,665,Muncar,ID,-8.4333,114.3333,83.66,67,93,2.13,overcast clouds

In [35]:
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [31]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Bengkulu,ID,76.21,overcast clouds,-3.8004,102.2655,
6,Soyo,AO,76.69,broken clouds,-6.1349,12.3689,
7,Cayenne,GF,79.09,overcast clouds,4.9333,-52.3333,
12,Sibu,MY,83.75,overcast clouds,2.3000,111.8167,
21,Saint-Philippe,RE,80.19,moderate rain,-21.3585,55.7679,
30,Bubaque,GW,77.70,clear sky,11.2833,-15.8333,
44,Rikitea,PF,79.07,clear sky,-23.1203,-134.9692,
45,Dingle,PH,80.78,overcast clouds,10.9995,122.6711,
48,Belmonte,BR,79.30,overcast clouds,-15.8631,-38.8828,
50,Butaritari,KI,82.63,scattered clouds,3.0707,172.7902,

In [36]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("hotel found", index)
    except (IndexError):
        print("Hotel not found... skipping.")

hotel found 2
hotel found 6
hotel found 7
hotel found 12
hotel found 21
hotel found 30
hotel found 44
hotel found 45
hotel found 48
hotel found 50
hotel found 51
hotel found 55
hotel found 57
hotel found 58
hotel found 59
hotel found 63
hotel found 65
hotel found 71
hotel found 78
hotel found 82
hotel found 85
hotel found 87
hotel found 93
hotel found 94
hotel found 98
hotel found 99
hotel found 102
hotel found 108
hotel found 114
hotel found 116
hotel found 118
hotel found 119
hotel found 125
hotel found 134
hotel found 135
hotel found 136
hotel found 156
hotel found 161
hotel found 173
hotel found 175
hotel found 178
hotel found 179
hotel found 180
hotel found 181
hotel found 196
hotel found 197
hotel found 201
hotel found 207
hotel found 218
hotel found 221
hotel found 224
hotel found 239
hotel found 245
hotel found 254
hotel found 255
hotel found 258
hotel found 263
hotel found 264
hotel found 265
hotel found 269
hotel found 271
hotel found 283
hotel found 286
hotel found 291
hotel found 293
hotel found 308
hotel found 309
hotel found 317
hotel found 320
hotel found 325
hotel found 330
hotel found 338
hotel found 344
hotel found 345
Hotel not found... skipping.
hotel found 360
hotel found 365
Hotel not found... skipping.
hotel found 384
hotel found 391
hotel found 394
hotel found 400
hotel found 406
hotel found 409
hotel found 423
Hotel not found... skipping.
Hotel not found... skipping.
hotel found 443
hotel found 446
hotel found 454
hotel found 456
hotel found 464
hotel found 468
hotel found 472
hotel found 474
hotel found 483
Hotel not found... skipping.
hotel found 490
hotel found 492
hotel found 496
hotel found 501
hotel found 526
hotel found 527
hotel found 540
hotel found 548
hotel found 560
hotel found 562
hotel found 572
hotel found 574
hotel found 575
hotel found 576
hotel found 580
hotel found 583
hotel found 602
hotel found 609
hotel found 610
hotel found 616
hotel found 623
hotel found 628
hotel found 629
hotel found 630
hotel found 637
hotel found 641
hotel found 647
hotel found 649
hotel found 650
hotel found 656
Hotel not found... skipping.
hotel found 663
hotel found 664
hotel found 665

In [45]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.loc[hotel_df["Hotel Name"]!=""]

In [46]:
# 8a. Create the output File (CSV)
output_data_file="clean_hotel_df.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [47]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [48]:
# 11a. Add a marker layer for each city to the map. 
fig=gmaps.figure()
ml=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(ml)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))